<% if object.errors.any? %>
  <div class="error-container">
    <div class="alert-error bg-danger">
      エラー： 以下の<%= object.errors.count %>項目
    </div>
    <ul>
      <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
